<body>
    <div class="card">
        <div class="head">
            <div class="circle"></div>
            <div class="img">
                <img src="/assets/desing.png" alt="">
            </div>
        </div>

        <div class="description">
            <h3>DESING</h3>
            <h5>JAR</h5>
            <p>Desing se dedica a la creacion de contenido para redes sociales, presentaciones y por el momemnto imagen de algunos emprendimientos y negocios familiares.
            </p>
        </div>
    </div>
</body>
