<body>
    <div class="card">
        <div class="head">
           <!--  <div class="texto-vertical">
                |_________________DOGIS________________|</div>-->

                <div class="head">
                    <div class="img">
                        <img src="/assets/camila.jpeg" alt="">
                    </div>
                    <div class="img">
                        <img src="/assets/coffe.jpeg" alt="">
                    </div>
                    <div class="img">
                        <img src="/assets/coqueta.jpeg" alt="">
                    </div>
                    <div class="img">
                        <img src="/assets/dante.jpeg" alt="">
                    </div>
        
                </div>
        
                <div class="head2">
                    <div class="img">
                        <img src="/assets/junior.jpeg" alt="">
                    </div>
                    <div class="img">
                        <img src="/assets/mila.jpeg" alt="">
                    </div>
                    <div class="img">
                        <img src="/assets/nala.jpeg" alt="">
                    </div>
                    <div class="img">
                        <img src="/assets/terry.jpeg" alt="">
                    </div>
                    <div class="img">
                        <img src="/assets/valentin.jpeg" alt=""> 
                        <p>junior</p>
                    </div>
                </div>
        </div>
       <!--
        <div class="description">
            <div>
                <h3> Camila</h3>
            </div>
            <div>
                <h3> Coffe</h3>
            </div>
            <div>
                <h3> Coqueta</h3>
            </div>
            <div>
                <h3> Dante</h3>
            </div>
            <div>
                <h3> Junior</h3>
            </div>
            <div>
                <h3> Mila</h3>
            </div>
            <div>
                <h3> Nala</h3>
            </div>
            <div>
                <h3> Terry</h3>
            </div>
            <div>
                <h3> Valentin</h3>
            </div>
        </div>--> 

    </div>
</body>
