* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #ffffff;
    flex-wrap: wrap;
}

.card {
    position: relative;
    width: 300px;
    height: 551px;
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    transition: .5s;
    margin: 15px 20px;
}



.card .head {
    height: 125px;
    width: 100%;
    position: relative;
}

.card .head .circle {
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: #acdfff;
    bottom: 0;
}

.card .head .img {
    width: 105px;
    height: 105px;
    position: float;
    background: #fff;
    padding: 4px;
    border-radius: 50%;
    bottom: -30%;
    transform: translate(60%,50%);
    margin-left: 40%;
    margin-bottom: 2%;
    
}

.card .head .img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}





.card .head2 {
    height: 125px;
    width: 100%;
    position: relative;
}

.card .head2 .circle {
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: #acdfff;
    bottom: 0;
}

.card .head2 .img {
    width: 105px;
    height: 105px;
    position: float;
    background: #fff;
    padding: 4px;
    border-radius: 50%;
    bottom: -30%;
    transform: translate(-30%,-120%);
    margin-left: 40%;
    margin-bottom: 2%;
    
}

.card .head2 .img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}




.card .description {
    height: 100px;
    padding: 0px 20px 20px 20px;
    margin-top: -35%;
    text-align: center;
}

.card .description h3 {
    text-align: right;
    margin-right: 30%;
    margin-bottom: 18%;
    color: #000000;
    font-size: small;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.card .description h4 {
    color: #1c5a5c;
}

.card .description p {
    margin-top: 20px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
.texto-vertical {
    position: absolute;
    color: #000000;
    transform: rotate(270deg);
    margin-left: -50%;
    margin-top: 90%;
    color: #c3f7a5;
    font-size: x-large;
  }



/* 
body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #efefefef;
}

.card {
    background: #fff;
    position: relative;
    margin: 20px 15px;
    width: 300px;
    height: 400px;
    border-radius: 5px;
    overflow: hidden;
    transition: .5s;
}

.card:hover {
    transform: translateY(-15px);
    box-shadow: 0 5px 15px rgba(3, 89, 92, .5);
}

.card .head {
    height: 125px;
    width: 100%;
    position: relative;
}

.card .head .circle {
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: #0b6f72;
    bottom: 0;
}

.card .head .img {
    position: absolute;
    width: 150px;
    height: 150px;
    padding: 5px;
    background: #fff;
    border-radius: 50%;
    bottom: -30%;
    left: 50%;
    transform: translate(-50%);
}

.card .head .img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}


.card .description {
    height: 200px;
    width: 100%;
    padding: 40px 20px 20px 20px;
    border-bottom: solid 1px rgba(6, 74, 76, .18);
    text-align: center;
}

.card .description h3 {
    color: #05383a;
}

.card .description h4 {
    color: #1c5a5c;
}

.card .description p {
    margin-top: 20px;
    font-size: 15px;
}


.card .contact {
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card .contact a {
    color: #fff;
    text-decoration: none;
    background: #157579;
    padding: 5px 20px;
    border-radius: 5px;
    transition: .3s;
}

.card .contact a:hover {
    background: #0b6164;
} */