<body>
    <div class="card">
        

        <div class="description">
            <h5>Hola soy</h5>
            <h3>Jennifer Aide Rosette</h3>
            <p>Cosas que me representan como persona son aquellas que me gustan hacer, forman parte de mi dia a dia pero sobre todo recuerdos y experiencias.</p>
        </div>

        
    </div>
</body>
