<div class="conteiner1">
    <app-componente1></app-componente1>
</div>

<div class="conteiner2">
    <app-componente2></app-componente2>
</div>

<div class="conteiner2">
    <app-componente3></app-componente3>
</div>


<div class="conteiner2">
    <app-componente4></app-componente4>
</div>

<div class="conteiner3">
    <app-componente5></app-componente5>
</div>