<body>
    <div class="card">
        <div class="head">
            <div class="img">
                <img src="/assets/1.jpeg" alt="">
            </div>
            <div class="img">
                <img src="/assets/2.jpeg" alt="">
            </div>
            <div class="img">
                <img src="/assets/3.jpeg" alt="">
            </div>
            <div class="img">
                <img src="/assets/4.jpeg" alt="">
            </div>
        </div>

        <div class="head2">
            <div class="img">
                <img src="/assets/6.jpeg" alt="">
            </div>
            <div class="img">
                <img src="/assets/7.jpeg" alt="">
            </div>
            <div class="img">
                <img src="/assets/8.jpeg" alt="">
            </div>
            <div class="img">
                <img src="/assets/9.jpeg" alt="">
            </div>
            <div class="img">
                <img src="/assets/5.jpeg" alt="">
            </div>
        </div>

    </div>
</body>
