<body>
    <div class="card">
        <div class="head">
            <div class="circle"></div>
            <div class="img">
                <img src="/assets/jaasel.png" alt="">
            </div>
        </div>

        <div class="description">
            <h3>JAASEL</h3>
            <h5>Imagina y Crea</h5>
            <p>jaasel es un emprendimiento de accesorios de bisuteria personalizados que tiene como objetivo crear diseños nuevos y creativos para todo tipo de estilos.
            </p>
        </div>

        
    </div>
</body>
